# ROS2 build
build/
install/
log/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/
dist/
.pytest_cache/
.coverage
coverage.xml
htmlcov/
.mypy_cache/
.ruff_cache/

# vscode
.vscode/

# env
.env
.venv/
venv/
env/

# API keys
*.key

#video*.mp4
#*.mp4


#documentation
docs/
diagrams/
